<link rel="apple-touch-icon" sizes="180x180" href="https://videogame-club.github.io/blog/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://videogame-club.github.io/blog/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://videogame-club.github.io/blog/assets/favicon-16x16.png">
<link rel="manifest" href="https://videogame-club.github.io/blog/assets/site.webmanifest">
<link rel="shortcut icon" href="https://videogame-club.github.io/blog/assets/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="https://videogame-club.github.io/blog/assets/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
